.navbar {
  padding: 20px;
  background: $dark-gray;

  ul {
    overflow: hidden;
    max-width: $max-width;
    margin: 0 auto;
  }

  .brand {
    max-width: 150px;
    overflow:hidden;
    display:block;
  }

  .nav-left {
    float: left;
  }

  .nav-right {
    float: right;
    margin-top: 2em;
  }

  li {
    a {
      color: #eee;
      text-decoration: none;
    }
  }
}

@media (max-width: $mobile-max) {
  .navbar {
    .brand {
      max-width: 100px;
    }

    .nav-right {
      margin-top: 1em;
    }
  }
}
