/**
*  Variables
*/
$light-gray: #eee;
$medium-gray: #90929B;
$dark-gray: #363942;
$light-orange: #FFD34E;
$medium-orange: #DB9E36;
$dark-orange: #BD4932;
$green: #5C832F;
$off-white: #eee;

$max-width: 680px;
$mobile-max: 600px;

@import 'compass/reset';
@import 'compass/css3';

@import 'base';
@import 'layout';
@import 'nav';

@import 'vendor/addtohomescreen';

@import 'modules/toolbar';
@import 'modules/titlebar';
@import 'modules/buttons';
@import 'modules/checkbox';
@import 'modules/list';
