.title-bar {
  @include display-flex;
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(center);

  #title, #list-title {
    @include flex(10);
  }

  #link-button {
    @include flex(2);
    text-align: center;
    width: 25px;
    height: 50px;
    background: none;
    border: none;
    cursor: pointer;

    img {
      width: 25px;
    }
  }

  #link-button.active {
    color: $light-gray;
    top: 30px;
  }

  button:focus {
    outline: 0;
  }
}

#triangle-up {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid rgba($green, 0.95);
  position: absolute;
  right: 50px;
  top: -20px;
  z-index: -1;
}

#share {
  position: relative;
  height: 0;
  background: rgba($green, 0.95);
  visibility: hidden;
  animation-duration: 0.75s;
  -webkit-animation-duration: 0.75s;
  -moz-animation-duration: 0.75s;
  -ms-animation-duration: 0.75s;
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;

  p {
    color: $light-gray;
    margin-bottom: 8px;
  }
}

#share.animated {
  height: auto;
  padding: 1em;
  margin-bottom: 1em;
}

#list-url {
  width: 97%;
  margin-bottom: 1em;
  color: $light-gray;
  background: transparent;
  border: solid 1px $light-gray;
}
